:root {
  --bg-color: hsl(0, 0%, 100%);
  --bg-color-nav: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --card-bg-hover: hsl(229, 19%, 88%);
  --light-font-color: hsl(228, 12%, 44%);
  --dark-font-color: hsl(230, 17%, 14%);
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --dark-mode: hsl(228, 12%, 44%);
}

[data-theme="dark"] {
  --bg-color: hsl(230, 17%, 14%);
  --bg-color-nav: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --card-bg-hover: hsl(230, 21%, 26%);
  --light-font-color: hsl(228, 34%, 66%);
  --dark-font-color: hsl(0, 0%, 100%);
  --dark-mode: hsl(0, 0%, 100%);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  margin: 0;
  /* overflow: hidden; */
}

.container {
  margin: 0 16rem;
}

.navbar {
  background-color: var(--bg-color-nav);
  height: 18rem;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding-top: 2%;
  margin: 0 16rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  -webkit-box-flex: 5;
  -ms-flex: 5 1 auto;
  flex: 5 1 auto;
}

.title span {
  color: var(--dark-font-color) !important;
  font-size: 36px;
  font-weight: 700;
  font-family: sans-serif;
}

.info-data {
  color: var(--light-font-color) !important;
  margin-top: 4px;
  font-weight: 700;
}

.dark-mode {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 14px;
  color: var(--dark-mode);
  font-weight: 400;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.dark-mode span {
  float: right;
  font-weight: 700;
  color: var(--dark-mode);
  line-height: 22px;
}

.theme-switch {
  margin-left: 14px;
  height: 22px;
  position: relative;
  width: 44px;
  float: right;
}

.theme-switch input {
  display: none;
}

.slider {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#378fe6),
    to(#3eda82)
  );
  background: linear-gradient(90deg, #378fe6 0%, #3eda82 100%);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  background-color: #464646;
  bottom: 4px;
  content: "";
  height: 14px;
  left: 4px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 14px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
  background-color: white;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 16rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 3rem;
}

.main-card {
  background-color: var(--card-bg) !important;
  padding: 8px;
  height: 16rem;
  width: 16rem;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
}

.main-card:hover {
  background-color: var(--card-bg-hover) !important;
}

.fb {
  border-top: 4px solid deepskyblue;
}

.twitter {
  border-top: 4px solid #1ca0f2;
}

.insta {
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#fdc468),
      to(#df4996)
    )
    top no-repeat;
  background: linear-gradient(90deg, #fdc468, #df4996) top no-repeat;
  background-size: 100% 4px;
}

.youtube {
  border-top: 4px solid red;
}

.user-name {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.icon {
  margin-top: 4px;
}

.user {
  color: var(--light-font-color) !important;
  font-weight: 700;
  margin: 0 8px;
  font-size: 14px;
}

.followers-data {
  color: var(--dark-font-color);
  font-weight: 700;
  font-size: 62px;
}

.followers {
  color: var(--light-font-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 6px;
}

.stats {
  margin-top: 2.5rem;
  color: #1db489;
  font-weight: 700;
  font-size: 16px;
  height: 20px;
}

.stat-icon {
  margin-right: 4px;
  vertical-align: super;
}

.red {
  color: #dc414c !important;
}

.overview {
  margin-top: 12rem;
  color: var(--dark-mode);
  font-size: 24px;
  font-weight: 700;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 1rem;
}

.card {
  width: 20rem;
  background-color: var(--card-bg);
  margin: 12px 0;
  height: 8rem;
  padding: 8px;
  width: 16rem;
  border-radius: 4px;
  overflow: hidden;
}

.card:hover {
  background-color: var(--card-bg-hover) !important;
}

.card-info {
  margin: 1rem;
}

.overview-title {
  color: var(--light-font-color);
  font-weight: 400;
}

.icon-sec {
  float: right;
}

.overview-stat {
  float: right;
}

.overview-info {
  margin-top: 2rem;
}

.overview-data {
  color: var(--dark-font-color);
  font-weight: 700;
  font-size: 40px;
}

.overview-stat {
  margin-top: 14px;
}

.one {
  color: #1db489;
}

.two {
  color: #dc414c;
}

.three {
  color: #1db489;
}

.four {
  color: #1db489;
}

.five {
  color: #1db489;
}

.six {
  color: #1db489;
}

.seven {
  color: #dc414c;
}

.eight {
  color: #dc414c;
}

.line {
  color: grey;
  display: none;
}

.attribution {
  font-size: 11px;
  position: fixed;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */

@media only screen and (max-width: 1866px) {
  .container {
    margin: 0 8rem;
  }
  .info {
    margin: 0 8rem;
  }
  .main-card-container {
    margin: 4rem 8rem;
  }
}

@media only screen and (max-width: 1599px) {
  .overview {
    margin-top: 12rem;
  }
  .main-card {
    margin-bottom: 16px;
  }
  .attribution {
    display: none !important;
  }
}

@media only screen and (max-width: 1342px) {
  .overview {
    margin-top: 30rem;
  }
  .main-card {
    margin-bottom: 16px;
  }
  .attribution {
    display: none !important;
  }
}

@media only screen and (max-width: 931px) {
  .container {
    margin: 0 4rem;
  }
  .info {
    margin: 0 4rem;
  }
  .main-card-container {
    margin: 4rem 4rem;
    justify-content: center;
  }
  .card-container {
    justify-content: center;
  }
  .overview {
    margin-top: 30rem;
  }
}

@media only screen and (max-width: 800px) {
  .overview {
    margin-top: 66rem;
    text-align: center;
  }
}

@media only screen and (max-width: 544px) {
  .title span {
    color: var(--dark-font-color) !important;
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
  }
  .container {
    margin: 0 1rem;
  }
  .info {
    margin: 0 1rem;
  }
  .main-card-container {
    margin: 2rem 1rem;
    justify-content: center;
  }
  .overview {
    margin-top: 64rem;
    text-align: center;
  }
  .info-data {
    color: var(--light-font-color) !important;
    margin-top: 4px;
    font-weight: 700;
    font-size: 12px;
  }
  .dark-mode span {
    font-size: 12px;
    float: left;
  }
}

@media only screen and (max-width: 428px) {
  .line {
    display: block !important;
  }
}
