$bg-color: hsl(0, 0%, 100%);
$bg-color-nav: hsl(225, 100%, 98%);
$card-bg: hsl(227, 47%, 96%);
$card-bg-hover: hsl(229, 19%, 88%);
$light-font-color: hsl(228, 12%, 44%);
$dark-font-color: hsl(230, 17%, 14%);
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);

[data-theme="dark"] {
  $bg-color: hsl(230, 17%, 14%);
  $bg-color-nav: hsl(232, 19%, 15%);
  $card-bg: hsl(227, 47%, 96%);
  $card-bg-hover: hsl(229, 19%, 88%);
  $light-font-color: hsl(228, 34%, 66%);
  $dark-font-color: hsl(0, 0%, 100%);
}

body {
  font-family: "Inter", sans-serif;
  background-color: $bg-color;
  margin: 0;
  overflow: hidden;
}
.container {
  margin: 0 16rem;
}

.navbar {
  background-color: $bg-color-nav;
  height: 18rem;
}

.info {
  display: flex;
  flex-flow: row wrap;
  padding-top: 2%;
  margin: 0 16rem;
  align-items: center;
}

.title {
  flex: 5 1 auto;
}

.title span {
  color: $dark-font-color;
  font-size: 36px;
  font-weight: 700;
  font-family: sans-serif;
}

.info-data {
  color: $light-font-color;
  margin-top: 4px;
  font-weight: 700;
}

.dark-mode {
  flex: 1 1 auto;
  font-size: 14px;
  color: $light-font-color;
  font-weight: 400;
  align-self: center;
}
.dark-mode span {
  float: right;
  font-weight: 700;
  color: $light-font-color;
  line-height: 22px;
}

.theme-switch {
  margin-left: 14px;
  height: 22px;
  position: relative;
  width: 44px;
  float: right;
}

.theme-switch input {
  display: none;
}

.slider {
  background: linear-gradient(
    90deg,
    hsl(210, 78%, 56%) 0%,
    hsl(146, 68%, 55%) 100%
  );
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: rgb(70, 70, 70);
  bottom: 4px;
  content: "";
  height: 14px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 14px;
}

input:checked + .slider:before {
  transform: translateX(22px);
  background-color: rgb(255, 255, 255);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main-card-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 16rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.main-card {
  background-color: $card-bg !important;
  padding: 8px;
  height: 16rem;
  width: 20rem;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
}

.main-card:hover{
  background-color: $card-bg-hover !important ;
}

.fb {
  border-top: 4px solid hsl(195, 100%, 50%);
}
.twitter {
  border-top: 4px solid hsl(203, 89%, 53%);
}
.insta {
  background: /* gradient can be an image */ linear-gradient(
      90deg,
      hsl(37, 97%, 70%),
      hsl(329, 70%, 58%)
    )
    top no-repeat;
  background-size: 100% 4px;
}
.youtube {
  border-top: 4px solid red;
}

.user-name {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-top: 4px;
}

.user {
  color: $light-font-color !important;
  font-weight: 700;
  margin: 0 8px;
  font-size: 14px;
}

.followers-data {
  color: $dark-font-color;
  font-weight: 700;
  font-size: 62px;
}

.followers {
  color: $light-font-color;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 6px;
}

.stats {
  margin-top: 2.5rem;
  color: $lime-green;
  font-weight: 700;
  font-size: 16px;
  height: 20px;
}

.stat-icon {
  margin-right: 4px;
  vertical-align: super;
  
}
.red {
  color: $bright-red !important;
}

.overview {
  margin-top: 12rem;
  color: $light-font-color;
  font-size: 24px;
  font-weight: 700;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.card {
  width: 20rem;
  background-color: $card-bg;
  margin: 12px 0;
  height: 8rem;
  padding: 8px;
  width: 20rem;
  border-radius: 4px;
  overflow: hidden;
}
.card:hover{
  background-color: $card-bg-hover !important ;
}

.card-info {
  margin: 1rem;
}

.overview-title {
  color: $light-font-color;
  font-weight: 400;
}

.icon-sec {
  float: right;
}

.overview-stat {
  float: right;
}

.overview-info {
  margin-top: 2rem;
}

.overview-data {
  color: $dark-font-color;
  font-weight: 700;
  font-size: 40px;
}

.overview-stat {
  margin-top: 14px;
}

.one {
  color: $lime-green;
}

.two {
  color: $bright-red;
}
.three {
  color: $lime-green;
}
.four {
  color: $lime-green;
}
.five {
  color: $lime-green;
}
.six {
  color: $lime-green;
}
.seven {
  color: $bright-red;
}
.eight {
  color: $bright-red;
}

.attribution {
  font-size: 11px;
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
